{% extends 'base.html' %}


{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBop65ASpcuml1QsD0VEyPu9h7D2qgoNlA"></script>
<script>
console.log('--- prep google map ---');
var lat = {{ details.0 }};
var lng = {{ details.1 }};

</script>
<script src="../../static/js/map.js"></script>
{% endblock %}

    

{% block content %}
        <h1> This is a location test testing page</h1>	
        {{ location.name }} {{ location.locuOrFour_id }}
        </br>	
        [{{ details.0 }}, {{ details.1 }}]
        <div id='map-canvas'></div>
{% endblock %}
