{% extends 'base.html' %}


{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBop65ASpcuml1QsD0VEyPu9h7D2qgoNlA"></script>
<script>
console.log('--- prep google map ---');
var lat = {{ details.0 }};
var lng = {{ details.1 }};
var marker;
var map;
var myLatlng = new google.maps.LatLng(lat, lng);
//console.log('latlngset: ',latlngset);
function initialize() {
    console.log('---- map loading -----');
    
    var mapOptions = {
        center: myLatlng,
        zoom:15,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    marker = new google.maps.Marker({
        map: map,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: myLatlng,        
        title: '{{ location }}'        
    });
    google.maps.event.addListener(marker, 'click', toggleBounce);
}

function toggleBounce() {

  if (marker.getAnimation() != null) {
    marker.setAnimation(null);
  } else {
    marker.setAnimation(google.maps.Animation.BOUNCE);
  }
}

google.maps.event.addDomListener(window, 'load', initialize); 

//marker.setMap(map);

var content = '<h4>' + '{{ location }}' + '</h4>' + '<p> is located at ' + lat + ', ' + lng + '</p>'
//var infowindow = new google.maps.InfoWindow();
//infowindow.setContent(content);
//google.maps.event.addListener(
//marker,
//'click', infowindwo.open(map,marker)
//);}


</script>
{% endblock %}


{% block styles %}
<style>
html, body, .row,  .col-md-9 ,.col-md-3{ height: 100% }
#map-canvas{
    margin: 0; 
    padding: 0;
    height: 500px; 
    outline:1px dashed green;
}
</style>
{% endblock %}
    

{% block content %}
<h1> This is a location test testing page</h1>	
{{ location.name }} {{ location.locuOrFour_id }}
</br>	
[{{ details.0 }}, {{ details.1 }}]

<div id='map-canvas'></div>
{% endblock %}
