{% extends 'base.html' %}

{% block jumbotron %} 
	<div class="jumbotron">
		<h1>
        	Welcome GeoLocator Practice
		</h1>
		<p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
		<p>To see the difference between static and fixed top navbars, just scroll.</p>
		<p>
			<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
		</p>
	</div>
{% endblock %}



{% block content %}
	<form method='POST' action='' > {% csrf_token %}
		<input type='text' name='search'>
		<input type='submit' value='submit'>
	</form>
	{% if locations %}
		You searched for: {{ query }}
		<ul>
			{% for name, locuOrFour_id in locations %}
				<li>
          <a href="/location/{{ locuOrFour_id }}"> 
            {{ name }} 
          </a>
        </li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}